.row {
    
  font-size:large;
 
  border: solid;
  border-style: groove;
  border-color: black;
  background-color: lightgray;
  border-width:thin;
  padding:10px;

}

.name {
    font-style: bold;
    

}
